/* Estilos categorias.html (no son necesarios) */
    .boton-categoria {
      width: 200px;
      height: 100px;
      margin: 10px;
      background-color: lightblue;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
    .nombre-categoria {
      font-size: 20px;
      color: darkblue;
    }
    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      margin: 16px;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    }

/* Estilos categoria2.html (no son necesarios) */
    .boton-categoria{
        width: 200px;
        height: 100px;
        margin: 10px;
        background-color: lightblue;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    .nombre-categoria{
        font-size: 20px;
        color: darkblue;
    }
    .card{
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        margin: 16px;
        box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    }

/* Estilos flip-card.html */
.flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        perspective: 1000px;
        margin: 20px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        /* transform-style es necesario para hacer el efecto */
        transform-style: preserve-3d;
    }

    /* .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    } */

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        /* backface se necesita para que no se vea el segundo div que tiene la parte trasera del card */
        backface-visibility: hidden;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flip-card-front {
        background-color: #f0f0f0;
        color: black;
    }

    .flip-card-back {
        background-color: #2980b9;
        color: white;
        /* transform mantener para que se vea correctamente */
        transform: rotateY(180deg);
        
    }
    /* esta clase es la que se añade desde js al hacer click y genera el flip */
    .flipped {
        transform: rotateY(180deg);
    }
    #flipFormulario {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .botonVolver{
        /* width: 100px;
        height: 50px; */
        font-size: x-large;
        padding: 0;
        margin: 0;
        border: none;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
    }

/* Estilos modal-tarjetas.html */
 
/* mantener los display */
    .avatar-container{
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        display: block;
    }
    .con {
        display: none;
        gap: 10px;
    }
   
    .container {
        width: 300px;
        height: 200px;
        cursor: pointer;
    }
   
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .contenedor1 {
        display: flex;
        margin: 40px auto;
        width: 50%;
        background: red;
        height: 300px;
        /* mantener la parte lo que pertenece a la animacion */
        scale: 0;
        animation-name: con1;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes con1 {
        0% {
            scale: 0;
        }
        100% {
            scale: 1;
        }
    }

    .third-footer {
    position: relative;
    height: 281px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* fondo real */
    background-color: var(--color-tarjeta-titulo);
    overflow: hidden;
}

.third-footer::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 200px;
    

    /* color del SVG */
    background-color: var(--color-principal);

    /* SVG como máscara */
    -webkit-mask-image: url(/img/AUTONOMIX.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom;
    -webkit-mask-size: contain;

    mask-image: url(/img/AUTONOMIX.svg);
    mask-repeat: no-repeat;
    mask-position: bottom;
    mask-size: contain;
}



