:root {
    --color-principal: #B0DFB7;
    --color-secundario: #F3E1E4;
    --color-sombra: #75977A;
    --color-tarjeta-titulo: #1F2933;
    --color-negro: #000;
    --color-blanco: #FFF;

    --borde: 4px solid;

    --fuente-tarjeta-avatar: 20px;

    /* Versión movil */
    --fuente-tarjeta-grande: 20px;
    --fuente-tarjeta-pequeña: 12px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
}

body {
    background-color: var(--color-secundario);
    font-family: 'VT323', monospace;
    text-transform: uppercase;
}

/* HEADER */
.main-header {
    background: var(--color-tarjeta-titulo);
    border-bottom: var(--borde) var(--color-tarjeta-titulo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
}

.logo-section a {
    text-decoration: none;
}

.brand-name {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-principal);
}

.slogan-name {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-principal);
}

.pill-search {
    border: var(--borde) var(--color-tarjeta-titulo);
    padding: 8px;
    font-family: inherit;
    font-size: 20px;
}

.search-button {
    background: transparent;
    cursor: pointer;
    border: none;
}



.auth-section a {
    text-decoration: none;
}

.user-pill {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-principal);
}



/* HERO */
.hero-gaming {
    height: 200px;
    background-color: var(--color-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.hero-box {
    width: 703px;
    height: 94px;
}

.hero-gaming h1 {
    font-size: 48px;
    color: var(--color-tarjeta-titulo);
    background: #FFFCFC;
    padding: 15px;
    border: var(--borde) var(--color-negro);
    box-shadow: 8px 8px 0px var(--color-sombra);
}

/* CATEGORÍAS 6x2 */
.categories-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 0 30px;
}

/* Botónes de filtro */
.cat-btn {
    background: var(--color-principal);
    border: var(--borde) var(--color-tarjeta-titulo);
    padding: 15px;
    font-family: inherit;
    font-size: 19.2px;
    cursor: pointer;
    color: var(--color-tarjeta-titulo);
}

.cat-btn:hover {
    color: var(--color-blanco);
    background: var(--color-tarjeta-titulo);
}

.cat-btn:active {
    transform: translateY(4px);
}

/* CARTAS VERTICALES (4 COLUMNAS) */
.roster-grid {
    /* height: 700px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: 30px auto;
    margin-bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.character-card {
    height: 353px;
    background: var(--color-negro);
    border: var(--borde) var(--color-negro);
    box-shadow: 10px 10px 0px var(--color-sombra);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card-header {
    color: #fffafa;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.card-header h3 {
    font-weight: normal;
}

.player-badge {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.avatar-silhouette {
    /*! */
    background-image: url(../img/usuario.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 240px;
    height: 276px;
}

.card-footer-info {
    padding: 15px;
    background-color: var(--color-principal);
    border-top: var(--borde);
    text-align: center;
}

/* FOOTER */
.first-footer {
    height: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--color-sombra);
    font-size: 20px;
}

.first-footer a {
    color: var(--color-tarjeta-titulo);
    text-decoration: none;
}

.submenu-first-footer a {
    text-transform: none;
}

.second-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--color-tarjeta-titulo);
    color: #fff;
}

.second-footer .brand-name {
    font-weight: normal;
}

.third-footer {
    /* background-image: url(/img/AUTONOMIX.svg);
    background-repeat: no-repeat;
    background-position: bottom; */
    display: flex;
    justify-content: center;
    align-items: end;
    height: 281px;
    background-color: var(--color-secundario);
    /* background-color: var(--color-tarjeta-titulo); */
    border: 1px;
}

/* Responsividad pantallas pequeñas */
@media (min-width: 577px) and (max-width: 600px) {
    :root {
        --borde: 2px solid;
    }

    /* HEADER */
    .main-header {
        gap: 30px;
    }

    .brand-name {
        font-size: 20px;
    }

    .slogan-name {
        font-size: 20px;
    }

    .pill-search {
        font-size: 14px;
    }

    .search-button svg {
        width: 14px;
        height: 14px;
    }

    .user-pill {
        font-size: 14px;
    }

    /* HERO */
    .hero-gaming {
        height: 150px;
    }

    .hero-box {
        width: 520px;
        height: 94px;
    }

    .hero-gaming h1 {
        font-size: 34px;
    }

    /* CATEGORÍAS 6x2 */
    .categories-grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .cat-btn {
        font-size: 14px;
        padding: 10px;
    }

    /* CARTAS VERTICALES */
    .roster-grid {
        height: 500px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .card-header {
        font-size: 14px;
    }

    .avatar-silhouette {
        width: 192px;
        height: 220px;
    }

    /* FOOTER */
    .first-footer {
        height: 120px;
        font-size: 14px;
        padding: 10px 20px;
    }

    .second-footer {
        padding: 10px 20px;
        font-size: 12px;
    }

    .third-footer {
        height: 120px;
    }

    .third-footer svg {
        width: 584px;
        height: 89px;
    }
}

/* Responsividad pantallas medianas */
@media (min-width: 768px) {}

/* Responsividad pantallas escritorio */
@media (min-width: 992px) {}